#include <windows.h>

1 VERSIONINFO
FILEVERSION 1,0,0,0
PRODUCTVERSION 1,0,0,0
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName", "Morsalen Apple"
            VALUE "FileDescription", "UltraFast LAN File Receiver"
            VALUE "FileVersion", "1.0.0"
            VALUE "InternalName", "UltraFastReceiver"
            VALUE "OriginalFilename", "UltraFastReceiver.exe"
            VALUE "ProductName", "Morsalen Apple"
            VALUE "ProductVersion", "1.0.0"
            VALUE "LegalCopyright", "© 2026 Morsalen Apple"
        END
    END

    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END
