#include <windows.h>

1 VERSIONINFO
FILEVERSION 1,0,0,0
PRODUCTVERSION 1,0,0,0
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName", "Morsalen Apple"
            VALUE "FileDescription", "UltraFast LAN File Sender"
            VALUE "FileVersion", "1.0.0"
            VALUE "InternalName", "UltraFastSender"
            VALUE "OriginalFilename", "UltraFastSender.exe"
            VALUE "ProductName", "Morsalen Apple"
            VALUE "ProductVersion", "1.0.0"
        END
    END

    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END
